$primary-bg: #00A0C3;
$accent-color: #00D1DC;
$dull-bg: #DCFDFF;

$title-font: 'Rock Salt', cursive;
$font-One: 'Belleza', sans-serif;
$font-Two: 'Tenor Sans', sans-serif;
$font-Three: 'Marmelad', sans-serif;