$primary-bg: #00A0C3;
$accent-color: #00D1DC;
$dull-bg: #DCFDFF;
$gradient: linear-gradient(180deg, #F2F2F2 0%, #A3C2C0 100%);

$title-font: 'Rock Salt', cursive;
$font-One: 'Belleza', sans-serif;
$font-Two: 'Tenor Sans', sans-serif;
$font-Three: 'Marmelad', sans-serif;